In [1]:
import pandas as pd

In [4]:
S = pd.Series([10,20,30,40,50])

S

0    10
1    20
2    30
3    40
4    50
dtype: int64

###### Series Attributes

In [5]:
S.values

array([10, 20, 30, 40, 50])

In [6]:
S.index

RangeIndex(start=0, stop=5, step=1)

In [38]:
S.dtype

dtype('int64')

In [39]:
S.is_unique

True

In [40]:
S.ndim  #Number of dimensions. Series always is of 1 dimension

1

In [41]:
S.shape

(5,)

In [42]:
S.size

5

In [45]:
S.head()

0    10
1    20
2    30
3    40
4    50
dtype: int64

###### Series Methods

In [9]:
prices=[2.99,4.45,1.36]

p = pd.Series(prices)

p

0    2.99
1    4.45
2    1.36
dtype: float64

In [10]:
p.sum()

8.8

In [11]:
p.product()

18.095480000000006

In [12]:
p.mean()

2.9333333333333336

###### Parameters And Arguments

In [13]:
subject=['Maths','Science','English','Computer','Hindi']

day=['Mon','Tue','Wed','Thu','Fri']

pd.Series(subject,day)

Mon       Maths
Tue     Science
Wed     English
Thu    Computer
Fri       Hindi
dtype: object

In [15]:
pd.Series(index=day, data=subject)

Mon       Maths
Tue     Science
Wed     English
Thu    Computer
Fri       Hindi
dtype: object

###### Import Series from pd.read_csv

In [94]:
pd.read_csv('data.csv', usecols=['Name'])

       Name
0    Avnish
1  Himanshu
2    Ashish
3      Esha
4    Akshay
5     Ankur
6      Neha
7    Govind
8  Ashutosh
9      Amit

In [95]:
pd.read_csv('data.csv', usecols=['Name'], squeeze=True)

0      Avnish
1    Himanshu
2      Ashish
3        Esha
4      Akshay
5       Ankur
6        Neha
7      Govind
8    Ashutosh
9        Amit
Name: Name, dtype: object

In [96]:
series=pd.read_csv('data.csv', usecols=['Name'], squeeze=True)

series

0      Avnish
1    Himanshu
2      Ashish
3        Esha
4      Akshay
5       Ankur
6        Neha
7      Govind
8    Ashutosh
9        Amit
Name: Name, dtype: object

In [97]:
series.name

'Name'

In [98]:
series.name='Friends'

In [99]:
series

0      Avnish
1    Himanshu
2      Ashish
3        Esha
4      Akshay
5       Ankur
6        Neha
7      Govind
8    Ashutosh
9        Amit
Name: Friends, dtype: object

###### .head() & .tail()

In [100]:
name=pd.read_csv('data.csv', usecols=['Name'], squeeze=True)

name

0      Avnish
1    Himanshu
2      Ashish
3        Esha
4      Akshay
5       Ankur
6        Neha
7      Govind
8    Ashutosh
9        Amit
Name: Name, dtype: object

In [101]:
name.head()

0      Avnish
1    Himanshu
2      Ashish
3        Esha
4      Akshay
Name: Name, dtype: object

In [102]:
name.head(8)

0      Avnish
1    Himanshu
2      Ashish
3        Esha
4      Akshay
5       Ankur
6        Neha
7      Govind
Name: Name, dtype: object

In [103]:
name.tail()

5       Ankur
6        Neha
7      Govind
8    Ashutosh
9        Amit
Name: Name, dtype: object

In [104]:
name.tail(3)

7      Govind
8    Ashutosh
9        Amit
Name: Name, dtype: object

###### Pandas Build-In Function

In [105]:
len(name)

10

In [106]:
type(name)

pandas.core.series.Series

In [107]:
dir(name)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_binop',
 '_box_item_values',
 '_builtin_table',
 '_can_hold_na',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_convert_dtypes',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_find_valid_index',
 '_from_axes',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_iget_item_cache',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_internal_get_values',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_datelike_mixed_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_map_values',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_ndarray_values',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_labels',
 '_set_name',
 '_set_subtyp',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_setup_axes',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_series_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'str',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [108]:
sorted(name)

['Akshay',
 'Amit',
 'Ankur',
 'Ashish',
 'Ashutosh',
 'Avnish',
 'Esha',
 'Govind',
 'Himanshu',
 'Neha']

In [109]:
list(name)

['Avnish',
 'Himanshu',
 'Ashish',
 'Esha',
 'Akshay',
 'Ankur',
 'Neha',
 'Govind',
 'Ashutosh',
 'Amit']

In [110]:
dict(name)

{0: 'Avnish',
 1: 'Himanshu',
 2: 'Ashish',
 3: 'Esha',
 4: 'Akshay',
 5: 'Ankur',
 6: 'Neha',
 7: 'Govind',
 8: 'Ashutosh',
 9: 'Amit'}

In [111]:
max(name)

'Neha'

In [112]:
min(name)

'Akshay'

###### .sort_values() method

In [113]:
name.sort_values(ascending=False)

6        Neha
1    Himanshu
7      Govind
3        Esha
0      Avnish
8    Ashutosh
2      Ashish
5       Ankur
9        Amit
4      Akshay
Name: Name, dtype: object

In [114]:
name

0      Avnish
1    Himanshu
2      Ashish
3        Esha
4      Akshay
5       Ankur
6        Neha
7      Govind
8    Ashutosh
9        Amit
Name: Name, dtype: object

In [115]:
name.sort_values(ascending=False, inplace=True)

In [116]:
name

6        Neha
1    Himanshu
7      Govind
3        Esha
0      Avnish
8    Ashutosh
2      Ashish
5       Ankur
9        Amit
4      Akshay
Name: Name, dtype: object

###### .sort_index() method

In [117]:
name.sort_index(ascending=False) #use inplace to permanently change the series

9        Amit
8    Ashutosh
7      Govind
6        Neha
5       Ankur
4      Akshay
3        Esha
2      Ashish
1    Himanshu
0      Avnish
Name: Name, dtype: object

###### 'in' keyword

In [118]:
'Amit' in name.values

True

In [119]:
5 in name.index

True

In [120]:
5 in name

True

In [121]:
'Amit' in name #By default 'in' searches in index

False

###### Extract Series Value by Index Position

In [122]:
name[5]

'Ankur'

In [123]:
name[6:]

2    Ashish
5     Ankur
9      Amit
4    Akshay
Name: Name, dtype: object

In [124]:
name[:5]

6        Neha
1    Himanshu
7      Govind
3        Esha
0      Avnish
Name: Name, dtype: object

In [125]:
name[4:6]

0      Avnish
8    Ashutosh
Name: Name, dtype: object

In [126]:
name[-5:]

8    Ashutosh
2      Ashish
5       Ankur
9        Amit
4      Akshay
Name: Name, dtype: object

In [127]:
name[-5:-2]

8    Ashutosh
2      Ashish
5       Ankur
Name: Name, dtype: object

###### Extract Series Value by Index Position

In [128]:
salary=pd.read_csv('data.csv', index_col='Name', squeeze=True)

salary

Name
Avnish      100000
Himanshu     30000
Ashish        5000
Esha        200000
Akshay       30000
Ankur        70000
Neha        100000
Govind      120000
Ashutosh    110220
Amit        102020
Name: Salary, dtype: int64

In [129]:
salary['Avnish']

100000

In [130]:
salary[0]

100000

In [131]:
salary['Ashish':'Neha']

Name
Ashish      5000
Esha      200000
Akshay     30000
Ankur      70000
Neha      100000
Name: Salary, dtype: int64

In [133]:
salary['Ashish':'Ashutosh':2]

Name
Ashish        5000
Akshay       30000
Neha        100000
Ashutosh    110220
Name: Salary, dtype: int64

In [139]:
#to avoid error if any of the index is not present
salary.reindex(index=['Ashish','Harsh'])

Name
Ashish    5000.0
Harsh        NaN
Name: Salary, dtype: float64

In [137]:
salary

Name
Avnish      100000
Himanshu     30000
Ashish        5000
Esha        200000
Akshay       30000
Ankur        70000
Neha        100000
Govind      120000
Ashutosh    110220
Amit        102020
Name: Salary, dtype: int64

###### .get Method

In [142]:
salary.get('Ashish')

5000

In [141]:
salary.get(2)

5000

In [144]:
salary.get([2,5])

Name
Ashish     5000
Ankur     70000
Name: Salary, dtype: int64

In [145]:
salary.get(['Ashish','Ankur'])

Name
Ashish     5000
Ankur     70000
Name: Salary, dtype: int64

In [146]:
salary.get(['Ashish','Ishan'])

In [148]:
salary.get(['Ashish','Ishan'], default='One of the key not Present')

'One of the key not Present'

In [149]:
salary.get(['Ashish'], default='One of the key not Present')

Name
Ashish    5000
Name: Salary, dtype: int64

In [150]:
salary.get([2], default='One of the key not Present')

Name
Ashish    5000
Name: Salary, dtype: int64

In [152]:
salary.get([12], default='Key not Present')

'Key not Present'

###### Math Methods on Series

In [153]:
salary.count()

10

In [154]:
salary.sum()

867240

In [155]:
len(salary)

10

In [156]:
salary.mean()

86724.0

In [157]:
salary.std()

56244.51285829282

In [158]:
salary.max()

200000

In [159]:
salary.min()

5000

In [160]:
salary.median()

100000.0

In [161]:
salary.mode()

0     30000
1    100000
dtype: int64

In [162]:
salary.describe()

count        10.000000
mean      86724.000000
std       56244.512858
min        5000.000000
25%       40000.000000
50%      100000.000000
75%      108170.000000
max      200000.000000
Name: Salary, dtype: float64

###### .idxmax() & .idxmin()

In [165]:
salary

Name
Avnish      100000
Himanshu     30000
Ashish        5000
Esha        200000
Akshay       30000
Ankur        70000
Neha        100000
Govind      120000
Ashutosh    110220
Amit        102020
Name: Salary, dtype: int64

In [163]:
salary.idxmax()

'Esha'

In [164]:
salary.idxmin()

'Ashish'

In [167]:
salary.max()

200000

In [166]:
salary[salary.idxmax()]

200000

###### .value_counts() Method

In [168]:
salary.value_counts()

30000     2
100000    2
70000     1
110220    1
200000    1
5000      1
102020    1
120000    1
Name: Salary, dtype: int64

In [169]:
salary.value_counts().sum()

10

In [170]:
salary.count()

10

In [172]:
salary.value_counts(ascending=True)

120000    1
102020    1
5000      1
200000    1
110220    1
70000     1
100000    2
30000     2
Name: Salary, dtype: int64

###### .apply() Method

In [180]:
salary.apply(lambda x: x*2 if x>10000 else x)

Name
Avnish      200000
Himanshu     60000
Ashish        5000
Esha        400000
Akshay       60000
Ankur       140000
Neha        200000
Govind      240000
Ashutosh    220440
Amit        204040
Name: Salary, dtype: int64

In [181]:
def update_sal(sal):
    if sal>10000:
        sal=sal*2
    return sal

In [182]:
salary.apply(update_sal)

Name
Avnish      200000
Himanshu     60000
Ashish        5000
Esha        400000
Akshay       60000
Ankur       140000
Neha        200000
Govind      240000
Ashutosh    220440
Amit        204040
Name: Salary, dtype: int64

###### .map() Method

In [195]:
sal_1=pd.read_csv('data.csv', usecols=['Name'], squeeze=True)

sal_1

0      Avnish
1    Himanshu
2      Ashish
3        Esha
4      Akshay
5       Ankur
6        Neha
7      Govind
8    Ashutosh
9        Amit
Name: Name, dtype: object

In [198]:
sal_2=pd.read_csv('data.csv', index_col='Name', squeeze=True)

sal_2.sort_values(ascending=False, inplace=True)

sal_2

Name
Esha        200000
Govind      120000
Ashutosh    110220
Amit        102020
Neha        100000
Avnish      100000
Ankur        70000
Akshay       30000
Himanshu     30000
Ashish        5000
Name: Salary, dtype: int64

In [199]:
sal_1.map(sal_2)

0    100000
1     30000
2      5000
3    200000
4     30000
5     70000
6    100000
7    120000
8    110220
9    102020
Name: Name, dtype: int64