In [1]:
import pandas as pd
import datetime as dt

### Python date and datetime object

In [2]:
date=dt.date(2021,3,7)

date

datetime.date(2021, 3, 7)

In [3]:
date.year

2021

In [4]:
date.month

3

In [5]:
date.day

7

In [6]:
date_time=dt.datetime(2021,3,7)

date_time

datetime.datetime(2021, 3, 7, 0, 0)

In [7]:
date_time.hour

0

In [8]:
date_time=dt.datetime(2021,3,7,8,15,59)

date_time

datetime.datetime(2021, 3, 7, 8, 15, 59)

In [9]:
date_time.hour

8

In [10]:
date_time.minute

15

In [11]:
date_time.second

59

In [12]:
str(date)

'2021-03-07'

In [13]:
str(date_time)

'2021-03-07 08:15:59'

### Pandas Timestamp() object

In [14]:
pd.Timestamp('2021-03-01')

Timestamp('2021-03-01 00:00:00')

In [15]:
#If not clear, pandas will adopt mm/dd/yyyy format
pd.Timestamp('02-03-2021')

Timestamp('2021-02-03 00:00:00')

In [16]:
pd.Timestamp('19-03-2021')

Timestamp('2021-03-19 00:00:00')

In [17]:
pd.Timestamp('2021/03/03')

Timestamp('2021-03-03 00:00:00')

In [18]:
pd.Timestamp("2021, 03, 04")

Timestamp('2021-03-04 00:00:00')

In [19]:
pd.Timestamp('20210305')

Timestamp('2021-03-05 00:00:00')

In [20]:
pd.Timestamp('2021-03-01 08:09:58')

Timestamp('2021-03-01 08:09:58')

In [21]:
pd.Timestamp('2021-03-01 08:09:58 PM')

Timestamp('2021-03-01 20:09:58')

In [22]:
pd.Timestamp(dt.date(2021,3,4))

Timestamp('2021-03-04 00:00:00')

In [23]:
pd.Timestamp(dt.datetime(2021,3,4,9,20,45))

Timestamp('2021-03-04 09:20:45')

### DatetimeIndex Object

In [24]:
dates = ["2021-01-01", "2021-01-02", "2021-01-03"]

pd.DatetimeIndex(dates)

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03'], dtype='datetime64[ns]', freq=None)

In [25]:
pd.DatetimeIndex(dates)[0]

Timestamp('2021-01-01 00:00:00')

In [26]:
pd.DatetimeIndex(dates)[1]

Timestamp('2021-01-02 00:00:00')

In [27]:
dates_1 = ["2021-02-01", "20210202", "2021/02/03"]

pd.DatetimeIndex(dates_1)

DatetimeIndex(['2021-02-01', '2021-02-02', '2021-02-03'], dtype='datetime64[ns]', freq=None)

In [28]:
pd.DatetimeIndex(dates_1)[0]

Timestamp('2021-02-01 00:00:00')

In [29]:
dates_2 = [dt.date(2021,3,1),dt.date(2021,3,2),dt.date(2021,3,3)]

pd.DatetimeIndex(dates_2)

DatetimeIndex(['2021-03-01', '2021-03-02', '2021-03-03'], dtype='datetime64[ns]', freq=None)

In [30]:
pd.DatetimeIndex(dates_2)[0]

Timestamp('2021-03-01 00:00:00')

In [31]:
date_list = ["2021-02-01", "20210202", "2021/02/03"]
values = [100, 200, 300]

dates = pd.DatetimeIndex(date_list)

pd.Series(data = values, index=dates)

2021-02-01    100
2021-02-02    200
2021-02-03    300
dtype: int64

### pd.to_datetime() Method

In [32]:
pd.to_datetime('2021-03-01')

Timestamp('2021-03-01 00:00:00')

In [33]:
pd.to_datetime(dt.date(2021,3,2))

Timestamp('2021-03-02 00:00:00')

In [34]:
pd.to_datetime(dt.datetime(2021,3,2,10,15,39))

Timestamp('2021-03-02 10:15:39')

In [35]:
pd.to_datetime(['2021-03-01', '20210301', '2021/03/01', '2021', 'March 1st, 2021'])

DatetimeIndex(['2021-03-01', '2021-03-01', '2021-03-01', '2021-01-01',
               '2021-03-01'],
              dtype='datetime64[ns]', freq=None)

In [36]:
series = pd.Series(['2021-03-01', '20210301', '2021/03/01', '2021', 'March 1st, 2021'])

series

0         2021-03-01
1           20210301
2         2021/03/01
3               2021
4    March 1st, 2021
dtype: object

In [37]:
pd.to_datetime(series)

0   2021-03-01
1   2021-03-01
2   2021-03-01
3   2021-01-01
4   2021-03-01
dtype: datetime64[ns]

In [38]:
series = pd.Series(['2021/03/01', '2021', 'March 1st, 2021', 'Hello'])

series

0         2021/03/01
1               2021
2    March 1st, 2021
3              Hello
dtype: object

In [39]:
#errors='raise' will throw error while errors='ignore' will not
pd.to_datetime(series, errors='ignore')

0         2021/03/01
1               2021
2    March 1st, 2021
3              Hello
dtype: object

In [40]:
#errors='coerce' will print NaT wherever there is an error in data
pd.to_datetime(series, errors='coerce')

0   2021-03-01
1   2021-01-01
2   2021-03-01
3          NaT
dtype: datetime64[ns]

In [41]:
#to use unix time where date is represented as number of seconds

pd.to_datetime(1239283, unit='s')

Timestamp('1970-01-15 08:14:43')

In [42]:
pd.to_datetime([1239283,1284894894, 22939794], unit='s')

DatetimeIndex(['1970-01-15 08:14:43', '2010-09-19 11:14:54',
               '1970-09-23 12:09:54'],
              dtype='datetime64[ns]', freq=None)

### Create range of Dates with pd.date_range() method

In [43]:
pd.date_range('2021-01-01', '2021-05-31')

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2021-05-22', '2021-05-23', '2021-05-24', '2021-05-25',
               '2021-05-26', '2021-05-27', '2021-05-28', '2021-05-29',
               '2021-05-30', '2021-05-31'],
              dtype='datetime64[ns]', length=151, freq='D')

In [44]:
pd.date_range('2021-01-01', '2021-05-31', freq='D')

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2021-05-22', '2021-05-23', '2021-05-24', '2021-05-25',
               '2021-05-26', '2021-05-27', '2021-05-28', '2021-05-29',
               '2021-05-30', '2021-05-31'],
              dtype='datetime64[ns]', length=151, freq='D')

In [45]:
#Print Business Dates
pd.date_range('2021-01-01', '2021-05-31', freq='B')

DatetimeIndex(['2021-01-01', '2021-01-04', '2021-01-05', '2021-01-06',
               '2021-01-07', '2021-01-08', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14',
               ...
               '2021-05-18', '2021-05-19', '2021-05-20', '2021-05-21',
               '2021-05-24', '2021-05-25', '2021-05-26', '2021-05-27',
               '2021-05-28', '2021-05-31'],
              dtype='datetime64[ns]', length=107, freq='B')

In [46]:
times = pd.date_range('2021-01-01', '2021-05-31')

times[0]

Timestamp('2021-01-01 00:00:00', freq='D')

In [47]:
pd.date_range('2021-01-01', '2021-05-31', freq='1D')

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2021-05-22', '2021-05-23', '2021-05-24', '2021-05-25',
               '2021-05-26', '2021-05-27', '2021-05-28', '2021-05-29',
               '2021-05-30', '2021-05-31'],
              dtype='datetime64[ns]', length=151, freq='D')

In [48]:
pd.date_range('2021-01-01', '2021-05-31', freq='5D')

DatetimeIndex(['2021-01-01', '2021-01-06', '2021-01-11', '2021-01-16',
               '2021-01-21', '2021-01-26', '2021-01-31', '2021-02-05',
               '2021-02-10', '2021-02-15', '2021-02-20', '2021-02-25',
               '2021-03-02', '2021-03-07', '2021-03-12', '2021-03-17',
               '2021-03-22', '2021-03-27', '2021-04-01', '2021-04-06',
               '2021-04-11', '2021-04-16', '2021-04-21', '2021-04-26',
               '2021-05-01', '2021-05-06', '2021-05-11', '2021-05-16',
               '2021-05-21', '2021-05-26', '2021-05-31'],
              dtype='datetime64[ns]', freq='5D')

In [49]:
pd.date_range('2021-01-01', '2021-05-31', freq='1M')

DatetimeIndex(['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31'],
              dtype='datetime64[ns]', freq='M')

In [50]:
pd.date_range('2021-01-01', '2021-05-31', freq='2M')

DatetimeIndex(['2021-01-31', '2021-03-31', '2021-05-31'], dtype='datetime64[ns]', freq='2M')

In [51]:
# 'MS' represents Month-Start. Default is Month-End
pd.date_range('2021-01-01', '2021-05-31', freq='MS')

DatetimeIndex(['2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01'],
              dtype='datetime64[ns]', freq='MS')

In [52]:
pd.date_range('2021-01-01', '2021-05-31', freq='2W')

DatetimeIndex(['2021-01-03', '2021-01-17', '2021-01-31', '2021-02-14',
               '2021-02-28', '2021-03-14', '2021-03-28', '2021-04-11',
               '2021-04-25', '2021-05-09', '2021-05-23'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [53]:
pd.date_range('2021-01-01', '2021-05-31', freq='2W-MON')

DatetimeIndex(['2021-01-04', '2021-01-18', '2021-02-01', '2021-02-15',
               '2021-03-01', '2021-03-15', '2021-03-29', '2021-04-12',
               '2021-04-26', '2021-05-10', '2021-05-24'],
              dtype='datetime64[ns]', freq='2W-MON')

In [54]:
pd.date_range('2021-01-01', '2021-05-31', freq='6H')

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 06:00:00',
               '2021-01-01 12:00:00', '2021-01-01 18:00:00',
               '2021-01-02 00:00:00', '2021-01-02 06:00:00',
               '2021-01-02 12:00:00', '2021-01-02 18:00:00',
               '2021-01-03 00:00:00', '2021-01-03 06:00:00',
               ...
               '2021-05-28 18:00:00', '2021-05-29 00:00:00',
               '2021-05-29 06:00:00', '2021-05-29 12:00:00',
               '2021-05-29 18:00:00', '2021-05-30 00:00:00',
               '2021-05-30 06:00:00', '2021-05-30 12:00:00',
               '2021-05-30 18:00:00', '2021-05-31 00:00:00'],
              dtype='datetime64[ns]', length=601, freq='6H')

In [55]:
# Year End
pd.date_range(start='2021-01-01', end='2030-05-31', freq='A')

DatetimeIndex(['2021-12-31', '2022-12-31', '2023-12-31', '2024-12-31',
               '2025-12-31', '2026-12-31', '2027-12-31', '2028-12-31',
               '2029-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [56]:
pd.date_range(start='01-01-2021', periods=10)

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10'],
              dtype='datetime64[ns]', freq='D')

In [57]:
pd.date_range(start='01-01-2021', periods=10, freq='M')

DatetimeIndex(['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31'],
              dtype='datetime64[ns]', freq='M')

In [58]:
pd.date_range(end='31-12-2021', periods=10, freq='M')

DatetimeIndex(['2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30',
               '2021-07-31', '2021-08-31', '2021-09-30', '2021-10-31',
               '2021-11-30', '2021-12-31'],
              dtype='datetime64[ns]', freq='M')

### .dt Accessor

In [59]:
#This is similar to .str accessor

dates = pd.date_range(end='31-12-2021', periods=10, freq='M')

dates

DatetimeIndex(['2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30',
               '2021-07-31', '2021-08-31', '2021-09-30', '2021-10-31',
               '2021-11-30', '2021-12-31'],
              dtype='datetime64[ns]', freq='M')

In [60]:
series = pd.Series(dates)

series

0   2021-03-31
1   2021-04-30
2   2021-05-31
3   2021-06-30
4   2021-07-31
5   2021-08-31
6   2021-09-30
7   2021-10-31
8   2021-11-30
9   2021-12-31
dtype: datetime64[ns]

In [61]:
series.dt.day

0    31
1    30
2    31
3    30
4    31
5    31
6    30
7    31
8    30
9    31
dtype: int64

In [62]:
series.dt.date

0    2021-03-31
1    2021-04-30
2    2021-05-31
3    2021-06-30
4    2021-07-31
5    2021-08-31
6    2021-09-30
7    2021-10-31
8    2021-11-30
9    2021-12-31
dtype: object

In [63]:
series.dt.dayofweek

0    2
1    4
2    0
3    2
4    5
5    1
6    3
7    6
8    1
9    4
dtype: int64

In [64]:
series.dt.is_month_end

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

In [65]:
series.dt.is_quarter_start

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [66]:
series[series.dt.is_month_end]

0   2021-03-31
1   2021-04-30
2   2021-05-31
3   2021-06-30
4   2021-07-31
5   2021-08-31
6   2021-09-30
7   2021-10-31
8   2021-11-30
9   2021-12-31
dtype: datetime64[ns]

### Pandas Datareader

In [67]:
#pip install pandas-datareader

from pandas_datareader import data

In [68]:
data.DataReader(name = 'MSFT', data_source='yahoo')

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-03-07,51.799999,50.580002,51.560001,51.029999,38407800.0,46.793064
2016-03-08,52.130001,50.599998,50.799999,51.650002,33835100.0,47.361591
2016-03-09,52.849998,51.860001,51.889999,52.840000,28251600.0,48.452789
2016-03-10,52.939999,51.160000,52.930000,52.049999,38387800.0,47.728374
2016-03-11,53.070000,52.380001,53.000000,53.070000,32275700.0,48.663696
...,...,...,...,...,...,...
2021-03-01,237.470001,233.149994,235.899994,236.940002,25324000.0,236.940002
2021-03-02,237.300003,233.449997,237.009995,233.869995,22785500.0,233.869995
2021-03-03,233.580002,227.259995,232.160004,227.559998,33950400.0,227.559998
2021-03-04,232.490005,224.259995,226.740005,226.729996,44584200.0,226.729996
2021-03-05,233.270004,226.460007,229.520004,231.600006,41842100.0,231.600006

In [69]:
stocks = data.DataReader(name = 'MSFT', data_source='yahoo', start='2000-01-01', end='2020-12-31')

stocks

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1999-12-31,58.875000,58.125000,58.750000,58.375000,12517600.0,37.076923
2000-01-03,59.312500,56.000000,58.687500,58.281250,53228400.0,37.017384
2000-01-04,58.562500,56.125000,56.781250,56.312500,54119000.0,35.766914
2000-01-05,58.187500,54.687500,55.562500,56.906250,64059600.0,36.144032
2000-01-06,56.937500,54.187500,56.093750,55.000000,54976600.0,34.933285
...,...,...,...,...,...,...
2020-12-24,223.610001,221.199997,221.419998,222.750000,10550600.0,222.238144
2020-12-28,226.029999,223.020004,224.449997,224.960007,17933500.0,224.443069
2020-12-29,227.179993,223.580002,226.309998,224.149994,17403200.0,223.634918
2020-12-30,225.630005,221.470001,225.229996,221.679993,20272300.0,221.170593
2020-12-31,223.000000,219.679993,221.699997,222.419998,20942100.0,221.908905

In [70]:
stocks.axes

[DatetimeIndex(['1999-12-31', '2000-01-03', '2000-01-04', '2000-01-05',
                '2000-01-06', '2000-01-07', '2000-01-10', '2000-01-11',
                '2000-01-12', '2000-01-13',
                ...
                '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
                '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
                '2020-12-30', '2020-12-31'],
               dtype='datetime64[ns]', name='Date', length=5285, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

In [71]:
stocks.loc['2019-01-02']

High         1.017500e+02
Low          9.894000e+01
Open         9.955000e+01
Close        1.011200e+02
Volume       3.532930e+07
Adj Close    9.837548e+01
Name: 2019-01-02 00:00:00, dtype: float64

In [72]:
#Recommended

stocks.loc[pd.Timestamp('2019-01-02')]

High         1.017500e+02
Low          9.894000e+01
Open         9.955000e+01
Close        1.011200e+02
Volume       3.532930e+07
Adj Close    9.837548e+01
Name: 2019-01-02 00:00:00, dtype: float64

In [73]:
stocks.iloc[0]

High         5.887500e+01
Low          5.812500e+01
Open         5.875000e+01
Close        5.837500e+01
Volume       1.251760e+07
Adj Close    3.707692e+01
Name: 1999-12-31 00:00:00, dtype: float64

In [74]:
stocks.iloc[-1]

High         2.230000e+02
Low          2.196800e+02
Open         2.217000e+02
Close        2.224200e+02
Volume       2.094210e+07
Adj Close    2.219089e+02
Name: 2020-12-31 00:00:00, dtype: float64

In [75]:
stocks.loc['2019-01-02':'2019-02-03']

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-01-02,101.750000,98.940002,99.550003,101.120003,35329300.0,98.375481
2019-01-03,100.190002,97.199997,100.099998,97.400002,42579100.0,94.756454
2019-01-04,102.510002,98.930000,99.720001,101.930000,44060600.0,99.163513
2019-01-07,103.269997,100.980003,101.639999,102.059998,35656100.0,99.289970
2019-01-08,103.970001,101.709999,103.040001,102.800003,31514400.0,100.009888
2019-01-09,104.879997,103.239998,103.860001,104.269997,32280800.0,101.439995
2019-01-10,103.750000,102.379997,103.220001,103.599998,30067600.0,100.788193
2019-01-11,103.440002,101.639999,103.190002,102.800003,28314200.0,100.009888
2019-01-14,102.870003,101.260002,101.900002,102.050003,28437100.0,99.280251
2019-01-15,105.050003,101.879997,102.510002,105.010002,31587600.0,102.159920
2019-01-16,106.260002,104.959999,105.260002,105.379997,29853900.0,102.519859
2019-01-17,106.629997,104.760002,105.000000,106.120003,28393000.0,103.239784
2019-01-18,107.900002,105.910004,107.459999,107.709999,37427600.0,104.786636
2019-01-22,107.099998,104.860001,106.750000,105.680000,32371300.0,102.811722
2019-01-23,107.040001,105.339996,106.120003,106.709999,25874300.0,103.813774
2019-01-24,107.000000,105.339996,106.860001,106.199997,23164800.0,103.317596
2019-01-25,107.879997,106.199997,107.239998,107.169998,31225600.0,104.261292
2019-01-28,106.480003,104.660004,106.260002,105.080002,29476700.0,102.228020
2019-01-29,104.970001,102.169998,104.879997,102.940002,31490500.0,100.146103
2019-01-30,106.379997,104.330002,104.620003,106.379997,49471900.0,103.492729
2019-01-31,105.220001,103.180000,103.800003,104.430000,55636400.0,101.595657
2019-02-01,104.099998,102.349998,103.779999,102.779999,35535700.0,99.990440

### trucate() method

In [76]:
# Truncate works similar to .loc
stocks.truncate(before = '2019-01-02', after='2019-01-20')

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-01-02,101.750000,98.940002,99.550003,101.120003,35329300.0,98.375481
2019-01-03,100.190002,97.199997,100.099998,97.400002,42579100.0,94.756454
2019-01-04,102.510002,98.930000,99.720001,101.930000,44060600.0,99.163513
2019-01-07,103.269997,100.980003,101.639999,102.059998,35656100.0,99.289970
2019-01-08,103.970001,101.709999,103.040001,102.800003,31514400.0,100.009888
2019-01-09,104.879997,103.239998,103.860001,104.269997,32280800.0,101.439995
2019-01-10,103.750000,102.379997,103.220001,103.599998,30067600.0,100.788193
2019-01-11,103.440002,101.639999,103.190002,102.800003,28314200.0,100.009888
2019-01-14,102.870003,101.260002,101.900002,102.050003,28437100.0,99.280251
2019-01-15,105.050003,101.879997,102.510002,105.010002,31587600.0,102.159920
2019-01-16,106.260002,104.959999,105.260002,105.379997,29853900.0,102.519859
2019-01-17,106.629997,104.760002,105.000000,106.120003,28393000.0,103.239784
2019-01-18,107.900002,105.910004,107.459999,107.709999,37427600.0,104.786636

### Excercise to show data for specific dates only

In [77]:
specific_date = pd.date_range(start='29-01-2000', end='2020-12-31', freq=pd.DateOffset(years=1))

specific_date

DatetimeIndex(['2000-01-29', '2001-01-29', '2002-01-29', '2003-01-29',
               '2004-01-29', '2005-01-29', '2006-01-29', '2007-01-29',
               '2008-01-29', '2009-01-29', '2010-01-29', '2011-01-29',
               '2012-01-29', '2013-01-29', '2014-01-29', '2015-01-29',
               '2016-01-29', '2017-01-29', '2018-01-29', '2019-01-29',
               '2020-01-29'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [78]:
stocks.index.isin(specific_date)

array([False, False, False, ..., False, False, False])

In [79]:
stocks[stocks.index.isin(specific_date)]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2001-01-29,32.312500,31.750000,31.781250,32.250000,84983800.0,20.483610
2002-01-29,32.250000,30.995001,31.950001,31.160000,58666000.0,19.791296
2003-01-29,25.020000,23.965000,24.365000,24.955000,106884000.0,15.850185
2004-01-29,27.950001,27.570000,27.809999,27.910000,63748400.0,17.883827
2007-01-29,30.780001,30.340000,30.650000,30.530001,57605900.0,22.454912
2008-01-29,32.889999,32.349998,32.849998,32.599998,68023000.0,24.303171
2009-01-29,17.959999,17.559999,17.780001,17.590000,49192800.0,13.355255
2010-01-29,29.920000,27.660000,29.900000,28.180000,193888500.0,21.897520
2013-01-29,28.129999,27.600000,27.820000,28.010000,49242600.0,23.454081
2014-01-29,36.880001,35.900002,35.980000,36.660000,52745900.0,31.625994
2015-01-29,42.119999,40.790001,40.930000,42.009998,63585300.0,37.233730
2016-01-29,55.090000,54.000000,54.730000,55.090000,83611700.0,50.155861
2018-01-29,95.449997,93.720001,95.139999,93.919998,31569900.0,89.816078
2019-01-29,104.970001,102.169998,104.879997,102.940002,31490500.0,100.146103
2020-01-29,168.750000,165.690002,167.839996,168.039993,34754500.0,165.896423

### Timestamp Object Attributes and Methods

In [80]:
day = stocks.index[100]

day

Timestamp('2000-05-24 00:00:00')

In [81]:
day.month

5

In [82]:
day.week

21

In [83]:
day.is_month_start

False

In [84]:
day.is_quarter_end

False

In [85]:
day.month_name()

'May'

In [86]:
day.day_name()

'Wednesday'

In [87]:
stocks.index.day_name()

Index(['Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       ...
       'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday'],
      dtype='object', name='Date', length=5285)

In [88]:
stocks.insert(0, column='Day of Week', value=stocks.index.day_name())

stocks

,Day of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
1999-12-31,Friday,58.875000,58.125000,58.750000,58.375000,12517600.0,37.076923
2000-01-03,Monday,59.312500,56.000000,58.687500,58.281250,53228400.0,37.017384
2000-01-04,Tuesday,58.562500,56.125000,56.781250,56.312500,54119000.0,35.766914
2000-01-05,Wednesday,58.187500,54.687500,55.562500,56.906250,64059600.0,36.144032
2000-01-06,Thursday,56.937500,54.187500,56.093750,55.000000,54976600.0,34.933285
...,...,...,...,...,...,...,...
2020-12-24,Thursday,223.610001,221.199997,221.419998,222.750000,10550600.0,222.238144
2020-12-28,Monday,226.029999,223.020004,224.449997,224.960007,17933500.0,224.443069
2020-12-29,Tuesday,227.179993,223.580002,226.309998,224.149994,17403200.0,223.634918
2020-12-30,Wednesday,225.630005,221.470001,225.229996,221.679993,20272300.0,221.170593
2020-12-31,Thursday,223.000000,219.679993,221.699997,222.419998,20942100.0,221.908905

In [89]:
stocks.insert(1, column='Is Month Start', value=stocks.index.is_month_start)

stocks

,Day of Week,Is Month Start,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
1999-12-31,Friday,False,58.875000,58.125000,58.750000,58.375000,12517600.0,37.076923
2000-01-03,Monday,False,59.312500,56.000000,58.687500,58.281250,53228400.0,37.017384
2000-01-04,Tuesday,False,58.562500,56.125000,56.781250,56.312500,54119000.0,35.766914
2000-01-05,Wednesday,False,58.187500,54.687500,55.562500,56.906250,64059600.0,36.144032
2000-01-06,Thursday,False,56.937500,54.187500,56.093750,55.000000,54976600.0,34.933285
...,...,...,...,...,...,...,...,...
2020-12-24,Thursday,False,223.610001,221.199997,221.419998,222.750000,10550600.0,222.238144
2020-12-28,Monday,False,226.029999,223.020004,224.449997,224.960007,17933500.0,224.443069
2020-12-29,Tuesday,False,227.179993,223.580002,226.309998,224.149994,17403200.0,223.634918
2020-12-30,Wednesday,False,225.630005,221.470001,225.229996,221.679993,20272300.0,221.170593
2020-12-31,Thursday,False,223.000000,219.679993,221.699997,222.419998,20942100.0,221.908905

### pd.DateOffset() Object to add or substract dates

In [90]:
stocks.index + pd.DateOffset(days=5)

DatetimeIndex(['2000-01-05', '2000-01-08', '2000-01-09', '2000-01-10',
               '2000-01-11', '2000-01-12', '2000-01-15', '2000-01-16',
               '2000-01-17', '2000-01-18',
               ...
               '2020-12-22', '2020-12-23', '2020-12-26', '2020-12-27',
               '2020-12-28', '2020-12-29', '2021-01-02', '2021-01-03',
               '2021-01-04', '2021-01-05'],
              dtype='datetime64[ns]', name='Date', length=5285, freq=None)

In [91]:
stocks.index - pd.DateOffset(days=5)

DatetimeIndex(['1999-12-26', '1999-12-29', '1999-12-30', '1999-12-31',
               '2000-01-01', '2000-01-02', '2000-01-05', '2000-01-06',
               '2000-01-07', '2000-01-08',
               ...
               '2020-12-12', '2020-12-13', '2020-12-16', '2020-12-17',
               '2020-12-18', '2020-12-19', '2020-12-23', '2020-12-24',
               '2020-12-25', '2020-12-26'],
              dtype='datetime64[ns]', name='Date', length=5285, freq=None)

In [92]:
stocks.index + pd.DateOffset(months=5)

DatetimeIndex(['2000-05-31', '2000-06-03', '2000-06-04', '2000-06-05',
               '2000-06-06', '2000-06-07', '2000-06-10', '2000-06-11',
               '2000-06-12', '2000-06-13',
               ...
               '2021-05-17', '2021-05-18', '2021-05-21', '2021-05-22',
               '2021-05-23', '2021-05-24', '2021-05-28', '2021-05-29',
               '2021-05-30', '2021-05-31'],
              dtype='datetime64[ns]', name='Date', length=5285, freq=None)

In [93]:
stocks.index - pd.DateOffset(weeks=3)

DatetimeIndex(['1999-12-10', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-20', '1999-12-21',
               '1999-12-22', '1999-12-23',
               ...
               '2020-11-26', '2020-11-27', '2020-11-30', '2020-12-01',
               '2020-12-02', '2020-12-03', '2020-12-07', '2020-12-08',
               '2020-12-09', '2020-12-10'],
              dtype='datetime64[ns]', name='Date', length=5285, freq=None)

In [94]:
stocks.index + pd.DateOffset(years=2)

DatetimeIndex(['2001-12-31', '2002-01-03', '2002-01-04', '2002-01-05',
               '2002-01-06', '2002-01-07', '2002-01-10', '2002-01-11',
               '2002-01-12', '2002-01-13',
               ...
               '2022-12-17', '2022-12-18', '2022-12-21', '2022-12-22',
               '2022-12-23', '2022-12-24', '2022-12-28', '2022-12-29',
               '2022-12-30', '2022-12-31'],
              dtype='datetime64[ns]', name='Date', length=5285, freq=None)

In [95]:
stocks.index + pd.DateOffset(years=1, month=2, weeks=3, days=5, hour=6, minutes=2, seconds=20)

/Users/avnishsinghhh/opt/anaconda3/lib/python3.7/site-packages/pandas/core/arrays/datetimes.py:694: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  PerformanceWarning,

DatetimeIndex(['2000-03-26 06:02:20', '2001-03-01 06:02:20',
               '2001-03-02 06:02:20', '2001-03-03 06:02:20',
               '2001-03-04 06:02:20', '2001-03-05 06:02:20',
               '2001-03-08 06:02:20', '2001-03-09 06:02:20',
               '2001-03-10 06:02:20', '2001-03-11 06:02:20',
               ...
               '2021-03-15 06:02:20', '2021-03-16 06:02:20',
               '2021-03-19 06:02:20', '2021-03-20 06:02:20',
               '2021-03-21 06:02:20', '2021-03-22 06:02:20',
               '2021-03-26 06:02:20', '2021-03-26 06:02:20',
               '2021-03-26 06:02:20', '2021-03-26 06:02:20'],
              dtype='datetime64[ns]', name='Date', length=5285, freq=None)

### Timeseries Offsets

In [96]:
#If date is already end/beginning of month then pandas will move it to next or previous month end/beginning as requested

stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2000-01-31', '2000-01-31', '2000-01-31', '2000-01-31',
               '2000-01-31', '2000-01-31', '2000-01-31', '2000-01-31',
               '2000-01-31', '2000-01-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-01-31'],
              dtype='datetime64[ns]', name='Date', length=5285, freq=None)

In [97]:
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['1999-11-30', '1999-12-31', '1999-12-31', '1999-12-31',
               '1999-12-31', '1999-12-31', '1999-12-31', '1999-12-31',
               '1999-12-31', '1999-12-31',
               ...
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30'],
              dtype='datetime64[ns]', name='Date', length=5285, freq=None)

In [98]:
stocks.index + pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2000-01-01', '2000-02-01', '2000-02-01', '2000-02-01',
               '2000-02-01', '2000-02-01', '2000-02-01', '2000-02-01',
               '2000-02-01', '2000-02-01',
               ...
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01'],
              dtype='datetime64[ns]', name='Date', length=5285, freq=None)

In [99]:
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['1999-11-30', '1999-12-31', '1999-12-31', '1999-12-31',
               '1999-12-31', '1999-12-31', '1999-12-31', '1999-12-31',
               '1999-12-31', '1999-12-31',
               ...
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30'],
              dtype='datetime64[ns]', name='Date', length=5285, freq=None)

In [100]:
from pandas.tseries import offsets

In [101]:
stocks.index + offsets.MonthEnd()

DatetimeIndex(['2000-01-31', '2000-01-31', '2000-01-31', '2000-01-31',
               '2000-01-31', '2000-01-31', '2000-01-31', '2000-01-31',
               '2000-01-31', '2000-01-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-01-31'],
              dtype='datetime64[ns]', name='Date', length=5285, freq=None)

In [102]:
#Business Month End
stocks.index + offsets.BMonthEnd()

DatetimeIndex(['2000-01-31', '2000-01-31', '2000-01-31', '2000-01-31',
               '2000-01-31', '2000-01-31', '2000-01-31', '2000-01-31',
               '2000-01-31', '2000-01-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-01-29'],
              dtype='datetime64[ns]', name='Date', length=5285, freq=None)

In [103]:
stocks.index + offsets.BYearEnd()

DatetimeIndex(['2000-12-29', '2000-12-29', '2000-12-29', '2000-12-29',
               '2000-12-29', '2000-12-29', '2000-12-29', '2000-12-29',
               '2000-12-29', '2000-12-29',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-12-31'],
              dtype='datetime64[ns]', name='Date', length=5285, freq=None)

### The TimeDelta Object

In [104]:
#Measurement of time between two times

pd.Timestamp('2020-03-01') - pd.Timestamp('2020-01-01')

Timedelta('60 days 00:00:00')

In [105]:
pd.Timestamp('2020-01-01') - pd.Timestamp('2020-03-01')

Timedelta('-60 days +00:00:00')

In [106]:
pd.Timestamp('2020-03-01 04:20:18') - pd.Timestamp('2020-01-01 01:20:59')

Timedelta('60 days 02:59:19')

In [107]:
pd.Timedelta(days = 3)

Timedelta('3 days 00:00:00')

In [108]:
pd.Timestamp('2020-03-01') + pd.Timedelta(days = 3)

Timestamp('2020-03-04 00:00:00')

In [109]:
#"years" parameter doesn't work in Timedelta()

pd.Timestamp('2020-03-01') + pd.Timedelta(weeks=8, days = 3, hours = 5, minutes=50, seconds=20)

Timestamp('2020-04-29 05:50:20')

In [110]:
pd.Timedelta('5 Hours')

Timedelta('0 days 05:00:00')

In [111]:
pd.Timedelta('2 Hours 5 Minutes')

Timedelta('0 days 02:05:00')

In [112]:
pd.Timedelta('10 Days 5 hours 20 Minutes 10 seconds')

Timedelta('10 days 05:20:10')

### Using date as filter

In [113]:
stocks = data.DataReader(name = 'MSFT', data_source='yahoo', start='2000-01-01', end='2020-12-31')

stocks = stocks.reset_index()

stocks

,Date,High,Low,Open,Close,Volume,Adj Close
0,1999-12-31,58.875000,58.125000,58.750000,58.375000,12517600.0,37.076923
1,2000-01-03,59.312500,56.000000,58.687500,58.281250,53228400.0,37.017384
2,2000-01-04,58.562500,56.125000,56.781250,56.312500,54119000.0,35.766914
3,2000-01-05,58.187500,54.687500,55.562500,56.906250,64059600.0,36.144032
4,2000-01-06,56.937500,54.187500,56.093750,55.000000,54976600.0,34.933285
...,...,...,...,...,...,...,...
5280,2020-12-24,223.610001,221.199997,221.419998,222.750000,10550600.0,222.238144
5281,2020-12-28,226.029999,223.020004,224.449997,224.960007,17933500.0,224.443069
5282,2020-12-29,227.179993,223.580002,226.309998,224.149994,17403200.0,223.634918
5283,2020-12-30,225.630005,221.470001,225.229996,221.679993,20272300.0,221.170593
5284,2020-12-31,223.000000,219.679993,221.699997,222.419998,20942100.0,221.908905

In [114]:
stocks.insert(1, column='New_Date', value = pd.to_datetime(stocks['Date'])  + pd.Timedelta(days = 30))

stocks

,Date,New_Date,High,Low,Open,Close,Volume,Adj Close
0,1999-12-31,2000-01-30,58.875000,58.125000,58.750000,58.375000,12517600.0,37.076923
1,2000-01-03,2000-02-02,59.312500,56.000000,58.687500,58.281250,53228400.0,37.017384
2,2000-01-04,2000-02-03,58.562500,56.125000,56.781250,56.312500,54119000.0,35.766914
3,2000-01-05,2000-02-04,58.187500,54.687500,55.562500,56.906250,64059600.0,36.144032
4,2000-01-06,2000-02-05,56.937500,54.187500,56.093750,55.000000,54976600.0,34.933285
...,...,...,...,...,...,...,...,...
5280,2020-12-24,2021-01-23,223.610001,221.199997,221.419998,222.750000,10550600.0,222.238144
5281,2020-12-28,2021-01-27,226.029999,223.020004,224.449997,224.960007,17933500.0,224.443069
5282,2020-12-29,2021-01-28,227.179993,223.580002,226.309998,224.149994,17403200.0,223.634918
5283,2020-12-30,2021-01-29,225.630005,221.470001,225.229996,221.679993,20272300.0,221.170593
5284,2020-12-31,2021-01-30,223.000000,219.679993,221.699997,222.419998,20942100.0,221.908905

In [115]:
stocks.insert(2, column='Date_Diff', value = (stocks['New_Date'] - stocks['Date']))

stocks

,Date,New_Date,Date_Diff,High,Low,Open,Close,Volume,Adj Close
0,1999-12-31,2000-01-30,30 days,58.875000,58.125000,58.750000,58.375000,12517600.0,37.076923
1,2000-01-03,2000-02-02,30 days,59.312500,56.000000,58.687500,58.281250,53228400.0,37.017384
2,2000-01-04,2000-02-03,30 days,58.562500,56.125000,56.781250,56.312500,54119000.0,35.766914
3,2000-01-05,2000-02-04,30 days,58.187500,54.687500,55.562500,56.906250,64059600.0,36.144032
4,2000-01-06,2000-02-05,30 days,56.937500,54.187500,56.093750,55.000000,54976600.0,34.933285
...,...,...,...,...,...,...,...,...,...
5280,2020-12-24,2021-01-23,30 days,223.610001,221.199997,221.419998,222.750000,10550600.0,222.238144
5281,2020-12-28,2021-01-27,30 days,226.029999,223.020004,224.449997,224.960007,17933500.0,224.443069
5282,2020-12-29,2021-01-28,30 days,227.179993,223.580002,226.309998,224.149994,17403200.0,223.634918
5283,2020-12-30,2021-01-29,30 days,225.630005,221.470001,225.229996,221.679993,20272300.0,221.170593
5284,2020-12-31,2021-01-30,30 days,223.000000,219.679993,221.699997,222.419998,20942100.0,221.908905

In [116]:
stocks[stocks['Date_Diff'] == '30 days']

,Date,New_Date,Date_Diff,High,Low,Open,Close,Volume,Adj Close
0,1999-12-31,2000-01-30,30 days,58.875000,58.125000,58.750000,58.375000,12517600.0,37.076923
1,2000-01-03,2000-02-02,30 days,59.312500,56.000000,58.687500,58.281250,53228400.0,37.017384
2,2000-01-04,2000-02-03,30 days,58.562500,56.125000,56.781250,56.312500,54119000.0,35.766914
3,2000-01-05,2000-02-04,30 days,58.187500,54.687500,55.562500,56.906250,64059600.0,36.144032
4,2000-01-06,2000-02-05,30 days,56.937500,54.187500,56.093750,55.000000,54976600.0,34.933285
...,...,...,...,...,...,...,...,...,...
5280,2020-12-24,2021-01-23,30 days,223.610001,221.199997,221.419998,222.750000,10550600.0,222.238144
5281,2020-12-28,2021-01-27,30 days,226.029999,223.020004,224.449997,224.960007,17933500.0,224.443069
5282,2020-12-29,2021-01-28,30 days,227.179993,223.580002,226.309998,224.149994,17403200.0,223.634918
5283,2020-12-30,2021-01-29,30 days,225.630005,221.470001,225.229996,221.679993,20272300.0,221.170593
5284,2020-12-31,2021-01-30,30 days,223.000000,219.679993,221.699997,222.419998,20942100.0,221.908905

In [117]:
stocks[stocks['Date_Diff'] >= '20 days']

,Date,New_Date,Date_Diff,High,Low,Open,Close,Volume,Adj Close
0,1999-12-31,2000-01-30,30 days,58.875000,58.125000,58.750000,58.375000,12517600.0,37.076923
1,2000-01-03,2000-02-02,30 days,59.312500,56.000000,58.687500,58.281250,53228400.0,37.017384
2,2000-01-04,2000-02-03,30 days,58.562500,56.125000,56.781250,56.312500,54119000.0,35.766914
3,2000-01-05,2000-02-04,30 days,58.187500,54.687500,55.562500,56.906250,64059600.0,36.144032
4,2000-01-06,2000-02-05,30 days,56.937500,54.187500,56.093750,55.000000,54976600.0,34.933285
...,...,...,...,...,...,...,...,...,...
5280,2020-12-24,2021-01-23,30 days,223.610001,221.199997,221.419998,222.750000,10550600.0,222.238144
5281,2020-12-28,2021-01-27,30 days,226.029999,223.020004,224.449997,224.960007,17933500.0,224.443069
5282,2020-12-29,2021-01-28,30 days,227.179993,223.580002,226.309998,224.149994,17403200.0,223.634918
5283,2020-12-30,2021-01-29,30 days,225.630005,221.470001,225.229996,221.679993,20272300.0,221.170593
5284,2020-12-31,2021-01-30,30 days,223.000000,219.679993,221.699997,222.419998,20942100.0,221.908905

In [118]:
stocks[stocks['Date_Diff'] < '30 days']

Empty DataFrame
Columns: [Date, New_Date, Date_Diff, High, Low, Open, Close, Volume, Adj Close]
Index: []